
<div class="wrapper">

  <div class='side'>
   <div class='seach_index'>
    <%= '<Go Search>'%>
   </div>
  </div>
  <div class='main'>
    <div class='a'>
      <%="検索"%>
    </div>
    <div class='a'>
      <%="オススメ"%>
    </div>
    <div class='a'>
      <%="人気"%>
    </div>
  </div>
</div>