
<div class="wrapper">

  <div class='side'>
   <div class='search_index'>
    <%= '<Go Search>'%>
   </div>
  </div>
  <div class='main'>
    <div class="index-text">
      New
    </div>
    <div class='index_image_content'>
      
      <div class="b">
        <% @prototype.each do |prototype| %>
          <%=link_to prototype_path(prototype.id) do %>
            <%= image_tag prototype.image.variant(resize: '300x200'), class: "prototype_image" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="index-text">おすすめ</div>
    <div class='index_image_content'>
    </div>

    <div class="index-text">人気</div>
    <div class='index_image_content'>
    </div>

  </div>
</div>