<% if current_user.already_liked?(prototype) %>
  <%= link_to prototype_like_path(prototype), method: :delete, remote: true, class: "like_btn" do %>
  ❤️
  <div class="like_count">
    <%= prototype.likes.count %>
  </div>
  <% end %>
<% else %>
  <%= link_to prototype_likes_path(prototype), method: :post, remote: true, class: "like_btn" do %>
  🖤
  <div class="like_count">
    <%= prototype.likes.count %>
  </div>
  <% end %>
<% end %>